.main{
    background-image: url(../../assets/Trakomatic_background.bmp);
    height: 700px;
    background-repeat: no-repeat;
}

.menu{
    width: 200px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}